* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-30deg,rgb(0, 108, 122), rgb(0, 14, 41), black);
    color: #eee;
}

h1 {
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

.joke {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70vw;
    height: 30vh;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
}

#joke {
    display: none;

}

.button {
    position: relative;
    padding: 10px 50px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: #111;
    background-color:silver;
    border-radius: 25%;
    box-shadow: 
        10px 10px 5px 0 rgba(0, 0, 0, 0.8),
        inset 10px 10px 5px 0 rgba(255,255,255,.8) ;
}

.button:active {
    left: 3px;
    top: 8px;
    background-color: rgb(167, 167, 167);
    box-shadow: inset 10px 10px 5px 0 rgba(255,255,255,.5);
    
}

.button:focus {
    outline: none;
}